@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    table {
        border-spacing: 0 15px;
    }

    td {
        padding: 0.75rem;
    }

    thead tr {
        @apply bg-blue-500 text-center;
    }

    tbody tr {
        @apply bg-white text-blue-700 text-center;
    }
}

@layer utilities {
    .lottery {
        @apply table text-white text-lg;
    }

    .lottery tbody tr {
        @apply bg-white text-black;
    }

    
    .province tr td:nth-child(1),
    .province tr th:nth-child(1) {
        border-radius: 0.625rem 0 0 0.625rem;
    }

    .province tr td:nth-child(n + 3),
    .province tr th:nth-child(n + 3) {
        border-radius: 0 0.625rem 0.625rem 0;
    }
}
